Development/build/*
Development/install/*
dev/install/*
Development/log/*
__pycache__/

docker/libraries/resources/pretrained_models/yolov8s-seg.engine
docker/libraries/resources/pretrained_models/yolov8s-seg.onnx
docker/libraries/resources/pretrained_models/yolov8s-seg.pt

.history

**/angles_net.mat
**/distances_new.mat