Development/build/*
Development/install/*
dev/install/*
Development/log/*
__pycache__/
**/node_modules/*

# Log files
*.log
logs/

Development/ros2/build/
Development/ros2/install/
Development/ros2/log/
Development/ros2/src/ros2test/ros2test/multi_vehicle_RealCar/data_logs
Development/ros2/src/ros2test/ros2test/multi_vehicle_RealCar/Observer/LocalNeuralObs/neural_obs_recordings
# docker/libraries/resources/pretrained_models
docker/libraries/resources/pretrained_models/
docker/libraries/resources/pretrained_models/yolov8s-seg.engine
docker/libraries/resources/pretrained_models/yolov8s-seg.onnx
docker/libraries/resources/pretrained_models/yolov8s-seg.pt



.history

**/angles_new.mat
**/distances_new.mat
**/distance_new.mat