<!DOCTYPE html>
<html>
<head>
    <title>QCar Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div id="connection-status">Connecting...</div>
        <div id="pose-plot"></div>
        <div id="lidar-plot"></div>
    </div>
    <script src="/js/ros-bridge.js"></script>
</body>
</html>